# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Sass caches
.sass-cache/
.cache/

# Misc
.env
.env.*
